@model MISIVSWebApp.Models.Vivienda

@{
    ViewBag.Title = "Consult Sectors";
}

<link rel="stylesheet" href="~/Content/ConsultSectors.css" />
<link rel="stylesheet" href="~/Content/modal_info.css" />

<div id='componente_modal_info' ref="container">
    <!--modal-info v-show="showModal">
    </modal-info-->
</div>
<div id='vivienda_modal_info'>
</div>

<h2>@ViewBag.Title</h2>
<hr />
<div class="row seachBox reloadable_content">
    <div class="col-md-2">
        <div class="abc">
            <p class="center">Choose a sector:</p>
        </div>
    </div>
    <select class="col-md-2 selector" id="selector">
        @foreach (var item in ViewBag.sectores)
        {
            <option value="@item.Key">@item.Key</option>
        }
    </select>
    <div class="col-md-4">
        <div class="abc">
            <button id="btn_search" class="button" type="button">Search</button>
        </div>
    </div>
</div>
<div id="ResultPanel">
    <h3>Sector Information</h3>
    <hr />
    <div class="reloadable_content">
        <div class="row seachBox">
            <div class="col-md-2">
                <div class="info-class">
                    <img src='~/Content/Static/profile.jpg' alt='Home Picture' class='img'>
                </div>
            </div>
            <div class="col-md-4">
                <div class="info-class" id="sectorName">
                    <text class="bold">Sector Name:</text>

                </div>
                <div class="info-class" id="numberHomes">
                    <text class="bold">Numbers of register homes:</text>
                </div>
            </div>
            <div class="col-md-4">
                <div class="info-class" id="averageVulnerability">
                    <text class="bold">Average vulnerability Index:</text>
                </div>

            </div>
        </div>

    </div>


    <h3>Sector Statistics</h3>
    <hr />
    <div class="row seachBox reloadable_content">
        <div class="col-md-4">
            <div class="abc">
                <p class="center">Choose a Feature to Consult:</p>
            </div>
        </div>
        <select class="col-md-2 selector" id="item_selector"></select>
        <div class="col-md-4">
            <div class="abc">
                <button id="btn_search2" class="button" type="button">Search</button>
            </div>
        </div>
    </div>
    <div id="Grafico" class="bubbleChart">

    </div>

    <h3>Registered Homes</h3>
    <hr />
    <div class="reloadable_content" id="div_homes">


    </div>





</div>




@section scripts{
    <script src="~/Scripts/Components/Modalinfo.js"></script>
    <script src="~/Scripts/Components/ModalViviendainfo.js"></script>
    <script src="https://d3js.org/d3.v5.min.js"></script>
    <script>
        loadFeatures();
        var globalColor = 0;
        $("#btn_search").click(function () {
            $("#ResultPanel").css("visibility", "visible");
            var selectedSector = $("#selector").children("option:selected").val();
            $(".remove").remove();
            loadDataSector(selectedSector);
            loadDataHomes(selectedSector);

        });

        $("#btn_search2").click(function () {
            console.log("btn_search2 presionado");
            $(".remove2").remove();
            var selectedSector = $("#selector").children("option:selected").val();
            var feature = $("#item_selector").children("option:selected").val();
            generatePieChart(selectedSector, feature);


        });

        function loadFeatures() {
            $.get("/Home/ConsultFeatures/", function (data, status) {
                var arreglo = data.data;
                for (var i = 0; i < arreglo.length; i++) {

                    $("#item_selector").append("<option value='" + arreglo[i]["Key"] + "'>" + arreglo[i]["Key"] + "</option>");
                }


            });
        }


        function loadDataHomes(selectedSector) {
            $.get("/Home/ViviendasBySector/" + selectedSector, function (data, status) {
                var arreglo = data.data;
                $("#numberHomes").append("<text class='remove'>" + arreglo.length + "</text>");
                contenedorModalInfo.$data["fichasData"] = data.data;
                $("#div_homes").append("<div class='remove row div_homes_columns'></div>");
                for (var i = 0; i < arreglo.length; i++) {
                    var column = $([
                        "<div class='col-md-3'>",
                        "   <div class='info-class bloque'>",
                        "       <img src='/Content/Static/profile.jpg' alt='Home Picture' class='img'>",
                        "       <p class='center white_text'>" + arreglo[i]["inspeccion_id"] + "</p>",
                        "       <a class='button_variation' href='javascript:;' onclick='showVulnerabilityInfo(" + i + ")'>View Vulnerability Report</button>",
                        "       <a class='button_variation' href='javascript:;' onclick='showViviendaInfo(" + i + ")'>View Information Report</a>",
                        "   </div>",
                        "</div>"
                    ].join("\n"));

                    $(".div_homes_columns").append(column);
                    //var p1 = column.clone();
                    //$(".div_homes_columns").append(p1);
                    //console.log(arreglo[i]["id"]);
                }
            });
        }


        function loadDataSector(selectedSector) {
            $("#sectorName").append("<text class='remove'>" + selectedSector + "</text>");

            $("#averageVulnerability").append("<text class='remove'>  " + selectedSector + "</text>");
        }

        function showVulnerabilityInfo(index) {
            var vivienda = contenedorModalInfo.$data["fichasData"][index];
            /*contenedorModalInfo.$data["showModal"] = true;
            contenedorModalInfo.$children[0].$data["id_data"] = vivienda.id;
            contenedorModalInfo.$children[0].$data["inspeccion_id_data"] = vivienda.inspeccion_id;
            contenedorModalInfo.$children[0].$data["address_data"] = vivienda.ubicacion;
            contenedorModalInfo.$children[0].$data["score_data"] = "Calculating Result...";
            contenedorModalInfo.$children[0].$data["score_weight_data"] = "Calculating Result...";*/
            //$("<div id='componente_modal_info'></div >").appendTo('body')
            /*$(`<modal-info id='${vivienda.id}'
                inspeccion_id='${vivienda.inspeccion_id}'
                address='${vivienda.ubicacion}'
                score='Calculating Result...'
                score_weight= 'Calculating Result...'
               >
                </modal-info>`).appendTo('#componente_modal_info')
            */
            var ModalInfo = Vue.extend(modalInfo);
            var modal_instance = new ModalInfo({
                propsData: {
                    id: vivienda.id,
                    inspeccion_id: vivienda.inspeccion_id,
                    address: vivienda.ubicacion,
                    score: "Calculating result....",
                    score_weight: "Calculating result....",
                }
            });
            modal_instance.$mount();
            $("#componente_modal_info").append(modal_instance.$el);
            contenedorModalInfo.$children.push(modal_instance);
            //contenedorModalInfo.$children.push(modal_instance);=
        }

        function showViviendaInfo(index) {
            var vivienda = contenedorModalInfo.$data["fichasData"][index];

            var ModalViviendaInfo = Vue.extend(modalViviendaInfo);
            var modal_instance = new ModalViviendaInfo({
                propsData: {
                    id: vivienda.id,
                    inspeccion_id: vivienda.inspeccion_id,
                    address: vivienda.ubicacion,
                    location: vivienda.direccion,
                    elevation: vivienda.elevacion,
                    inspection_date: "loading info...",
                    inspector: "loading info...",
                }
            });
            modal_instance.$mount();
            $("#vivienda_modal_info").append(modal_instance.$el);
            contenedorModalViviendaInfo.$children.push(modal_instance);
            //contenedorModalInfo.$children.push(modal_instance);=
        }

        function generatePieChart(selectedSector, feature) {

            $.get("/Home/ConsultFeatureStats/" + selectedSector + "/" + feature, function (data, status) {
                var data1 = []
                var data2 = []
                var data3 = []
                globalColor = -1;
                var arreglo = data.data;
                for (var key in arreglo) {
                    data1.push({ "key": key, "": arreglo[key] });
                    data2.push(key);
                    data3.push(arreglo[key]);
                }




                var altura1 = 500
                var anchura1 = 960
                var r = 200



                var colores = ['red', 'blue', 'yellow', 'orange', 'brown', 'purple']

                var color = d3.scaleOrdinal()
                    .range(colores);

                var canvas = d3.select('#Grafico')
                    .append('svg')
                    .attr('width', anchura1)
                    .attr('height', altura1);

                d3.selectAll("svg").attr("class", "remove2 remove");


                var group = canvas.append('g')
                    .attr("transform", "translate(480,250)");


                var arc = d3.arc()
                    .innerRadius(0)
                    .outerRadius(r);
                var pie = d3.pie()
                    .value(function (d) { return d; });

                var arcs = group.selectAll(".arcs")
                    .data(pie(data3))
                    .enter()
                    .append("g")
                    .attr("class", "arc");

                arcs.append("path")
                    .attr("d", arc)
                    .attr("fill", function (d) {
                        globalColor += 1;
                        return color(globalColor);
                    });
                arcs.append("text")
                    .attr("transform", function (d) { return "translate(" + arc.centroid(d) + ")"; })
                    .attr("text-anchor", "middle")
                    .attr("font-size", "1.5em")
                    .text(function (d) { return d.data + "%" });
                canvas.append("g")
                    .attr("transform", "translate(700,250)")
                    .selectAll(".categorias")
                    .data(pie(data2))
                    .enter()
                    .append("text")
                    .attr("transform", function (d) {
                        return "translate(0," + (data2.indexOf(d.data) * 20) + ")"
                    })
                    .text(function (d) {
                        return "Answer: " + d.data + " - Color: " + colores[data2.indexOf(d.data)]
                    });


            });
        }







    </script>

}
